<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

    <f:be.pageRenderer
            includeJavaScriptModules="{
            0: '@typo3/backend/modal.js',
            1: '@typo3/backend/context-menu.js'
        }"
    />

    <h1>Mails</h1>

    <f:if condition="{mails}">
        <f:then>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="align-top">ID</th>
                        <th class="align-top">Date</th>
                        <th class="align-top"></th>
                        <th class="align-top">Sent</th>
                        <th class="align-top">Subject</th>
                        <th class="align-top">To</th>
                        <th class="align-top">From</th>
                        <th class="align-top col-control">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{mails}" as="mail">
                        <tr>
                            <td>
                                <be:link.editRecord uid="{mail.uid}" table="tx_mailsent_mail"
                                                    returnUrl="{be:moduleLink(route:'sentmail_admin')}">
                                    {mail.uid}
                                </be:link.editRecord>
                            </td>
                            <td>
                                <f:format.date date="@{mail.crdate}" format="d.m.Y H:i:s"/>
                            </td>
                            <td class="nowrap">
                                <div class="btn-group">
                                    <a class="t3js-modal-trigger modal-size-large btn btn-default" title="Plain"
                                       data-title="Preview in Plain"
                                       data-bs-content=""
                                       data-size="large"
                                       data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'plain'})}">
                                        <core:icon identifier="sentmails-type-text"/>
                                    </a>
                                    <a class="t3js-modal-trigger modal-size-large btn btn-default" title="HTML"
                                       data-title="Preview in HTML"
                                       data-bs-content=""
                                       data-size="large"
                                       data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'html'})}">
                                        <core:icon identifier="sentmails-type-html"/>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <f:if condition="{mail.is_sent}">
                                    <f:then>
                                        <core:icon identifier="sentmails-status-ok"/>
                                    </f:then>
                                    <f:else>
                                        <core:icon identifier="sentmails-status-error"/>
                                    </f:else>
                                </f:if>
                            </td>
                            <td>{mail.subject}</td>
                            <td>
                                <f:render section="mails" arguments="{mails:mail.receiver}"/>
                                <f:if condition="{mail.bcc}">
                                    <div>
                                        <strong>BCC</strong><br>
                                        <f:render section="mails" arguments="{mails:mail.bcc}"/>
                                    </div>
                                </f:if>
                                <f:if condition="{mail.cc}">
                                    <div>
                                        <strong>CC</strong><br>
                                        <f:render section="mails" arguments="{mails:mail.cc}"/>
                                    </div>
                                </f:if>
                            </td>
                            <td>
                                <f:render section="mails" arguments="{mails:mail.sender}"/>
                            </td>

                            <td class="col-control nowrap">
                                <div class="btn-group">
                                    <a href="{be:moduleLink(route:'sentmail_admin.resend',arguments: {mail:mail.uid})}"
                                       data-title="Resend?" data-content="Really resend?" data-severity="warning"
                                       class="t3js-modal-trigger btn btn-sm btn-default">
                                        <core:icon identifier="actions-refresh"/>
                                        Resend
                                    </a>
                                    <a href="{be:moduleLink(route:'sentmail_admin.forward',arguments: {mail:mail.uid})}"
                                       class="btn btn-sm btn-default">
                                        <core:icon identifier="sentmails-forward"/>
                                        Forward
                                    </a>

                                    <div class="btn-sm btn btn-default dropdown">
                                        <button type="button" class="dropdown-toggle dropdown-toggle-link t3js-multi-record-selection-check-actions-toggle" data-bs-toggle="dropdown" data-bs-boundary="window" aria-expanded="false">
                                            <core:icon identifier="actions-menu-alternative" size="small" />
                                        </button>
                                        <ul class="dropdown-menu t3js-multi-record-selection-check-actions">
                                            <li>
                                                <a class="t3js-modal-trigger modal-size-large dropdown-item"
                                                   data-title="Debug"
                                                   data-bs-content=""
                                                   data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'debug'})}">
                                                    Debug info
                                                </a>
                                            </li>
                                            <li>
                                                <a class="t3js-modal-trigger modal-size-large dropdown-item"
                                                   data-title="Debug"
                                                   data-bs-content=""
                                                   data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'settings'})}">
                                                    Settings
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <f:be.infobox state="-1"
                          title="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_siteconfiguration.xlf:overview.noPages.title')}">
                <p>
                    <f:translate
                            key="LLL:EXT:backend/Resources/Private/Language/locallang_siteconfiguration.xlf:overview.noPages.message"/>
                </p>
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="mails">
    <f:for each="{mails}" as="r" iteration="i">
        {r.name} ({r.email})
        <f:if condition="!{i.isLast}">
            <br>
        </f:if>
    </f:for>
</f:section>

</html>
