<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

    <f:be.pageRenderer
            includeJavaScriptModules="{
            0: '@typo3/backend/modal.js',
            1: '@typo3/backend/context-menu.js'
        }"
    />

    <h1>{f:translate(key:'overview.header',extensionName: 'sent_mails')}</h1>

    <f:if condition="{mails}">
        <f:then>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="align-top">ID</th>
                        <th class="align-top">{f:translate(key:'field.date',extensionName: 'sent_mails')}</th>
                        <th class="align-top"></th>
                        <th class="align-top">{f:translate(key:'field.sent',extensionName: 'sent_mails')}</th>
                        <th class="align-top">{f:translate(key:'field.subject',extensionName: 'sent_mails')}</th>
                        <th class="align-top">{f:translate(key:'field.to',extensionName: 'sent_mails')}</th>
                        <th class="align-top">{f:translate(key:'field.from',extensionName: 'sent_mails')}</th>
                        <th class="align-top col-control"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{mails}" as="mail">
                        <tr class="{f:if(condition:mail.is_sent,then:'',else:'danger')}">
                            <td>
                                <be:link.editRecord uid="{mail.uid}" table="tx_sentmail_mail"
                                                    returnUrl="{be:moduleLink(route:'sentmail_admin')}">
                                    {mail.uid}
                                </be:link.editRecord>
                            </td>
                            <td>
                                <f:format.date date="@{mail.crdate}" format="d.m.Y H:i:s"/>
                            </td>
                            <td class="nowrap">
                                <div class="btn-group">
                                    <a class="t3js-modal-trigger modal-size-large btn btn-default" title="{f:translate(key:'preview.plain',extensionName: 'sent_mails')}"
                                       data-title="{f:translate(key:'preview.plain',extensionName: 'sent_mails')}"
                                       data-bs-content=""
                                       data-size="large"
                                       data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'plain'})}">
                                        <core:icon identifier="sentmails-type-text"/>
                                    </a>
                                    <a class="t3js-modal-trigger modal-size-large btn btn-default" title="{f:translate(key:'preview.html',extensionName: 'sent_mails')}"
                                       data-title="{f:translate(key:'overview.header',extensionName: 'sent_mails')}"
                                       data-bs-content=""
                                       data-size="large"
                                       data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'html'})}">
                                        <core:icon identifier="sentmails-type-html"/>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <f:if condition="{mail.is_sent}">
                                    <f:then>
                                        <core:icon identifier="sentmails-status-ok"/>
                                    </f:then>
                                    <f:else>
                                        <core:icon identifier="sentmails-status-error"/>
                                    </f:else>
                                </f:if>
                            </td>
                            <td>{mail.subject}</td>
                            <td>
                                <f:render section="mails" arguments="{mails:mail.receiver}"/>
                                <f:if condition="{mail.bcc}">
                                    <div>
                                        <strong>{f:translate(key:'field.bcc',extensionName: 'sent_mails')}</strong><br>
                                        <f:render section="mails" arguments="{mails:mail.bcc}"/>
                                    </div>
                                </f:if>
                                <f:if condition="{mail.cc}">
                                    <div>
                                        <strong>{f:translate(key:'field.cc',extensionName: 'sent_mails')}</strong><br>
                                        <f:render section="mails" arguments="{mails:mail.cc}"/>
                                    </div>
                                </f:if>
                            </td>
                            <td>
                                <f:render section="mails" arguments="{mails:mail.sender}"/>
                            </td>

                            <td class="col-control nowrap">
                                <div class="btn-group">
                                    <a href="{be:moduleLink(route:'sentmail_admin.resend',arguments: {mail:mail.uid})}"
                                       data-title="{f:translate(key:'action.resend.title',extensionName: 'sent_mails')}" data-content="{f:translate(key:'action.resend.text',extensionName: 'sent_mails')}" data-severity="warning"
                                       class="t3js-modal-trigger btn btn-sm btn-default">
                                        <core:icon identifier="actions-refresh"/>
                                        {f:translate(key:'action.resend',extensionName: 'sent_mails')}
                                    </a>
                                    <a href="{be:moduleLink(route:'sentmail_admin.forward',arguments: {mail:mail.uid})}"
                                       class="btn btn-sm btn-default">
                                        <core:icon identifier="sentmails-forward"/>
                                        {f:translate(key:'action.forward',extensionName: 'sent_mails')}
                                    </a>

                                    <div class="btn-sm btn btn-default dropdown">
                                        <button type="button" class="dropdown-toggle dropdown-toggle-link t3js-multi-record-selection-check-actions-toggle" data-bs-toggle="dropdown" data-bs-boundary="window" aria-expanded="false">
                                            <core:icon identifier="actions-menu-alternative" size="small" />
                                        </button>
                                        <ul class="dropdown-menu t3js-multi-record-selection-check-actions">
                                            <li>
                                                <a class="t3js-modal-trigger modal-size-large dropdown-item"
                                                   data-title="Debug"
                                                   data-bs-content=""
                                                   data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'debug'})}">
                                                    {f:translate(key:'action.debug',extensionName: 'sent_mails')}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="t3js-modal-trigger modal-size-large dropdown-item"
                                                   data-title="Debug"
                                                   data-bs-content=""
                                                   data-url="{be:moduleLink(route:'sentmail_preview',arguments: {mail:mail.uid,type:'settings'})}">
                                                    {f:translate(key:'action.settings',extensionName: 'sent_mails')}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <f:be.infobox state="-1"
                          title="{f:translate(key:'overview.nologs.title',extensionName: 'sent_mails')}">
                <p>{f:translate(key:'overview.nologs.description',extensionName: 'sent_mails')}</p>
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="mails">
    <f:for each="{mails}" as="r" iteration="i">
        {r.name} ({r.email})
        <f:if condition="!{i.isLast}">
            <br>
        </f:if>
    </f:for>
</f:section>

</html>
