<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

    <h1>Test</h1>

    <f:if condition="{error}">
        <f:be.infobox state="2" title="Error">{error.message}</f:be.infobox>
    </f:if>

    <form method="post" action="{be:moduleLink(route:'sentmail_admin.test')}">
        <input type="hidden" name="submit" value="1"/>

        <div class="form-group">
            <label for="fromName">From name</label>
            <input type="text" class="form-control" id="fromName" name="fromName" value="{params.fromName}" required>
        </div>
        <div class="form-group">
            <label for="fromEmail">From email</label>
            <input type="email" class="form-control" id="fromEmail" name="fromEmail" value="{params.fromEmail}" required>
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" value="{params.subject}" required>
        </div>

        <div class="form-group">
            <label for="plain">Plain text</label>
            <textarea class="form-control" id="plain" name="plain" required>{params.plain}"</textarea>
        </div>

        <div class="form-group">
            <label for="html">HTML</label>
            <textarea class="form-control" id="html" name="html" placeholder="<h1>A header</h1>">{params.html}</textarea>
        </div>

        <div class="form-group">
            <!--           // submitbutton-->
            <f:form.submit value="Submit" class="btn btn-primary"/>
        </div>
    </form>


</f:section>


</html>
