<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

    <h1>{f:translate(key:'test.header',extensionName: 'sent_mails')}</h1>

    <f:if condition="{error}">
        <f:be.infobox state="2" title="Error">{error.message}</f:be.infobox>
    </f:if>

    <form method="post" action="{be:moduleLink(route:'sentmail_admin.test')}">
        <input type="hidden" name="submit" value="1"/>

        <div class="form-group">
            <label for="fromName">{f:translate(key:'test.fromName',extensionName: 'sent_mails')}</label>
            <input type="text" class="form-control" id="fromName" name="fromName" value="{params.fromName}" required>
        </div>
        <div class="form-group">
            <label for="fromEmail">{f:translate(key:'test.fromEmail',extensionName: 'sent_mails')}</label>
            <input type="email" class="form-control" id="fromEmail" name="fromEmail" value="{params.fromEmail}"
                   required>
        </div>
        <div class="form-group">
            <label for="subject">{f:translate(key:'field.subject',extensionName: 'sent_mails')}</label>
            <input type="text" class="form-control" id="subject" name="subject" value="{params.subject}" required>
        </div>

        <div class="form-group">
            <label for="headline">{f:translate(key:'test.headline',extensionName: 'sent_mails')}</label>
            <input type="text" class="form-control" id="headline" name="headline" value="{params.headline}" required>
        </div>

        <div class="form-group">
            <label for="content">{f:translate(key:'test.content',extensionName: 'sent_mails')}</label>
            <textarea class="form-control" id="content" name="content" required>{params.content}</textarea>
        </div>

        <div class="form-group">
            <f:form.submit value="{f:translate(key:'test.submit',extensionName: 'sent_mails')}"
                           class="btn btn-primary"/>
        </div>
    </form>


</f:section>


</html>
